<VirtualHost *:8080>
    ServerName $site
    ServerAlias www.$site
    DocumentRoot /var/www/$test_user/www/$site
    AssignUserId $test_user $test_user
  <Directory /var/www/$test_user/www>
   AllowOverride None
   Require all granted
  </Directory>
 DirectoryIndex index.php
 Include /etc/httpd/conf.d/${site}_php.conf
 ErrorLog /var/www/$test_user/logs/httpd/${site}_error.log
 CustomLog /var/www/$test_user/logs/httpd/${site}_requests.log combined
</VirtualHost>
